.block_benefits {
    color: whitesmoke;
    background-image: url("../../assets/image/homePage/Image.png");
    background-size: cover;
    background-position: center;
    min-height: 500px; 
    margin-top: 60px;
    .block_text {
      padding: 100px 30px; 
      max-width: 600px;
      margin: 0 auto;
      span {
        font-size: 32px;
        margin-bottom: 24px;
        display: block;
      } 
      div {
        font-family: SatoshiRegular;
        font-size: 18px;
        margin-bottom: 36px;
        line-height: 150%;
      }
      ul {
        display: flex;
        justify-content: center;
        gap: 36px; 
        margin-bottom: 40px;
        li {
            display: flex;
            align-items: center;
            gap: 12px; 
            color:whitesmoke
          }
      }
    }
  }

  @media (max-width:390px){
    .block_benefits{
      margin-top: 24px;
    }
  }
  