.header {
    .top_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0; 
      border-bottom: 1px solid #d1d5db; 
  
      .left_section {
        display: flex;
        align-items: center;
  
        .search_icon {
          color: #1f2937; 
          margin-left: 2px; 
        }
  
        .brand_name {
          font-weight: bold; 
          color: #1f2937; 
        }
      }
  
      .right_section {
        display: flex;
        align-items: center;
  
        .icon {
          color: #9ca3af;
          cursor: pointer;
  
          &:not(:last-child) {
            margin-right: 2px; 
          }
        }
      }
    }
  
    .menu_mobile {
      display: none;
      margin: 20px 0;
      .menu_icon {
        color: #1f2937; 
        cursor: pointer;
      }
    }
  
    .menu_desktop {
      display: flex;
      justify-content: center;
      padding: 20px 0; 
      list-style: none;
      li {
        color: #726e8d; 
        margin-right: 40px; 
        cursor: pointer;
      }
    }
    .img_luxury{
      margin-bottom: 80px;
      max-width: 1440px;
      height: auto;
      text-align: left;
      position: relative;
      .luxury_block {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Тень для разделения */
        position: absolute;
        background: white;
        left: 50%; 
        top: 15%; 
        max-width: 630px;
        margin-right: 80px;
        max-height: 440px;
        padding: 48px;
        .label{
          font-size: 32px;
          line-height: 140%;
        }
        .disk{
          color: #5B5676;
          line-height: 150%;
          margin-top: 20px;
          font-family: SatoshiRegular;
          margin-bottom: 10%;
        }
      }
    }
  }
  
  
  
  @media (max-width: 940px) {
    .header {
      .img_luxury {
        display: flex;
        position: static;
        flex-direction: column; 
        .luxury_block {
          position: static;
          align-self: center;
          margin: 0;
        }
      }
    }
  }

  @media (max-width:740px){
    .header {
        .menu_desktop{
          display: none;
        }
        .menu_mobile{
          display: block;
        }
      }
}
