.free-delivery {
    background-color: #1e3a8a; 
    color: white; 
    padding: 8px 16px;
    border-radius: 5px;
    margin: 10px 5px;
  
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .icon-text {
        display: flex;
        align-items: center;
  
        .icon {
          font-size: 24px; 
          margin-right: 4px; 
        }
  
        span {
          font-size: 16px; 
        }
      }
  
      .clear-icon {
        font-size: 24px;
        margin-left: 12px; 
        cursor: pointer;
        transition: transform 1s ease; 
  
        &:hover {
          transform: scale(1.2); 
        }
      }
    }
  }