.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid #d1d5db;

  .left_section {
    display: flex;
    align-items: center;

    .search_icon {
      color: #1f2937;
      margin-left: 2px;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .brand_name {
      margin-left: 20px;
      font-weight: bold;
      color: #1f2937;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .right_section {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      color: #9ca3af;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }

  @media (max-width: 740px) {
    .menu_desktop {
      display: none;
    }
    .menu_mobile {
      display: block;
    }
  }

  &.has-children {
    justify-content: space-around;
    @media (max-width: 950px) {
      .menu_desktop {
        display: none;
      }
      .menu_mobile {
        display: block;
      }
    }
  }
}

.menu_mobile {
  display: none;
  padding: 10px 0;

  .menu_icon {
    color: #1f2937;
    cursor: pointer;
  }
}

.menu_desktop {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  list-style: none;

  li {
    color: #726e8d;
    margin-right: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: rgb(228, 181, 181);
    }
  }
}
